h1, h3
{
    text-align:center;
}

h3
{
    background-color:rgb(85, 85, 85);
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
    padding: 10px;
    border-radius: 7px 7px 0px 0px;
    margin-bottom: 9px;
}
.news p
{
    padding-right: 10px;
    padding-left: 10px;
    
}
.news
{
    background-color:#CCCCCC;
    width:70%;
    margin:auto;
    font-size: 20px;
    padding-bottom: 10px;
}

a
{
    text-decoration: none;
    color: blue;
}

ul{
    display: flex;
    list-style-type: none;
    text-decoration: underline;
}

li{
    margin-right: 20px;
}

#connectedStatusBanner{
    background-color: rgb(31, 31, 31);
    color: white;
}

.admin{
    background-color: rgb(156, 189, 250);
    margin: 20px;
    padding: 10px;
    width: 90%;
}

.visitor{
    margin: 20px;
    border: 0.5px solid black;
    padding: 10px;
    width: 90%;
}

footer{
    background-color: rgb(51, 51, 51);
    position: relative;
    bottom: -300px;
    text-align: center;
    padding-top: 40px;
}

footer a{
    color: rgb(209, 209, 209);
    vertical-align: center;
    position: relative;
    bottom: 20px;
}

.jumbotron{
    background-image: url("../images/bannerBackground.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;  
}

.readLink{
    padding-left: 10px;
}

#crudPost{
    margin-left: 80%;
    margin-top: 15px;
}

.reportedComments{
    display: flex;
    align-items: center;  
}

form{
    margin-bottom: 100px,
}

.postComment{
    margin-bottom: 60px;
}

#logout{
    color: white;
    background-color: black;
    border-radius: 20px;
    position: relative;
    left: 80%;
    bottom: 258px;
}

.adminMenu{
    height: 200px;
    width: 200px;
    margin: 10px;
}

#adminMenu{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    position: relative;
    left: 28%;
}

#updateEmail{
    margin-left: 38%;
    margin-right: 30%;
    margin-top: 176px;
}

#updateEmail div{
    margin-bottom: 20px;
}

#enterLogin{
    margin-left: 38%;
    margin-right: 30%;
    margin-top: 176px;
}

#enterLogin div{
    margin-bottom: 20px;
}